<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zznode.dao.TbWorkflowModelChangeMapper">

    <resultMap id="BaseResultMap" type="org.zznode.entity.TbWorkflowModelChange">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="workflowinfoid" column="workflowInfoId" jdbcType="BIGINT"/>
        <result property="datapath" column="dataPath" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="dataname" column="dataName" jdbcType="VARCHAR"/>
        <result property="datatype" column="dataType" jdbcType="TINYINT"/>
        <result property="appendixpath" column="appendixPath" jdbcType="VARCHAR"/>
        <result property="dataid" column="dataId" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
